* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.information-container {
  width: 100%;
  height: 100vh;
  padding: 0 8%;
}
.information-container h1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.information-container p {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.information-container h1::after {
  content: "";
  background: #17c6aa;
  width: 150px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.service {
  text-align: center;
  padding: 25px 5px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.5s;
}
.service i {
  margin-top: 20px;
  font-size: 40px;
  margin-bottom: 10px;
  color: #17c6aa;
}
.service h5 {
  font-weight: 600;
  margin-bottom: 8px;
}

.service:hover {
  background-color: #17c6aa;
  color: #fff;
  transform: scale(1);
}
.service:hover i {
  color: #fff;
}
